body{
 color:burlywood;
 text-align: center;
 font-family: "courier";
 font: size 100px;
 margin: 0;
 padding: 0
}
{
 width: 70%;
 padding: 1cm;
 text-align: left;
 border: 1px solid #ddd
 margin: 0 auto;
}
{
 font-size: 20px;
}